<form action="/TodoItem/Index" method="post">
    <h1>Create New TO-Do Item</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Your Name:</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Your Name">
        <small id="emailHelp" class="form-text text-muted">store it in a cookie (1 day).</small>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Create</button>
    </div>
</form>