@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>start organizing your tasks and stay productive!</p>
    <p>Get strated by creating your first to-do item.</p>
    <a href="/TodoItem/Create" class="btn btn-primary">Create New TO-Do Item</a>
</div>
